@charset "UTF-8";
/*bottomMenu begin*/
.bottom-menu {
    display: flex;
    display: -webkit-flex; /* Safari */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.04rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #14141e;
}
.bottom-menu a.bottom-menu-item {
    display: block;
    width: 33.3%;
    padding-top: 0.7rem;
    font-size: 0.22rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 0.11rem;
    background-size: 0.5rem auto;
    color: #fff;
}
.bottom-menu-home {
    background-image: url("../images/icon/bottom_home.png");
}
.bottom-menu-addbusiness {
    background-image: url("../images/icon/bottom_addbusiness.png");
}
.bottom-menu-suggest {
    background-image: url("../images/icon/bottom_suggest.png");
}
.bottom-menu a.bottom-menu-current {
    color: #ffd800;
    background-color: #000;
}
.bottom-menu-current.bottom-menu-home {
    background-image: url("../images/icon/bottom_home_active.png");
}
.bottom-menu-current.bottom-menu-addbusiness {
    background-image: url("../images/icon/bottom_addbusiness_active.png");
}
.bottom-menu-current.bottom-menu-suggest {
    background-image: url("../images/icon/bottom_suggest_active.png");
}
/*bottomMenu end*/
/*index begin*/
.index-add {
    position: relative;
    width: 100%;
    height: 1.27rem;
    background: url("../images/index_add_bg.png") no-repeat;
    background-size: 100%;
}
.index-add-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.45rem;
    height: 0.43rem;
    background: url("../images/index_add_close.png") no-repeat;
    background-size: 100% auto;
}
.index-add .index-add-main {
    width: 94%;
    height: 1.27rem;
    margin: 0 auto;
}
.index-add-main .index-add-info {
    height: 1.07rem;
    padding-left: 0.58rem;
    padding-top: 0.2rem;
    color: #f00;
    font-weight: bold;
    line-height: 1.4;
    background: url("../images/icon/index_add_icon.png") no-repeat left center;
    background-size: 0.41rem auto;
}
.index-add-info h2 {
    font-size: 0.36rem;
}
.index-add-info p {
    font-size: 0.24rem;
}