@charset "UTF-8";
/*bottomMenu begin*/
.bottom-menu {
    display: flex;
    display: -webkit-flex; /* Safari */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.38rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #14141e;
}
.bottom-menu a.bottom-menu-item {
    display: block;
    width: 33.3%;
    padding-top: 0.93rem;
    font-size: 0.29rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 0.13rem;
    background-size: 0.67rem auto;
    color: #fff;
}
.bottom-menu-home {
    background-image: url("../images/icon/bottom_home.png");
}
.bottom-menu-addbusiness {
    background-image: url("../images/icon/bottom_addbusiness.png");
}
.bottom-menu-suggest {
    background-image: url("../images/icon/bottom_suggest.png");
}
.bottom-menu a.bottom-menu-current {
    color: #ffd800;
    background-color: #000;
}
.bottom-menu-current.bottom-menu-home {
    background-image: url("../images/icon/bottom_home_active.png");
}
.bottom-menu-current.bottom-menu-addbusiness {
    background-image: url("../images/icon/bottom_addbusiness_active.png");
}
.bottom-menu-current.bottom-menu-suggest {
    background-image: url("../images/icon/bottom_suggest_active.png");
}
/*bottomMenu end*/
/*header being*/
.header {
    background-color: #000;
}
.header .header-main {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding: 0.27rem 0;
    justify-content: space-between;
}
.header-main .header-logo {
    display: block;
    width: 1.85rem;
}
.header-main .header-search {
    width: 57%;
    height: 0.64rem;
    border-radius: 0.64rem;
    background: #414141 url("../images/icon/index_header_search.png") no-repeat 0.32rem center;
    background-size: 0.36rem auto;
}
.header-search input {
    width: 100%;
    height: 0.64rem;
    font-size: 0.32rem;
    text-indent: 0.85rem;
    line-height: 0.64rem;
    color: #777;
}
.header-main .index-loginbtn {
    height: 0.37rem;
    padding-top: 0.135rem;
    padding-left: 0.51rem;
    font-size: 0.32rem;
    line-height: 0.37rem;
    color: #fff;
    background: url("../images/icon/index_login_icon.png") no-repeat left bottom;
    background-size: 0.38rem auto;
}
.header-main .header-userinfo {
    display: flex;
    height: 0.64rem;
    font-size: 0.29rem;
    line-height: 0.64rem;
    color: #fff;
}
.header-userinfo .header-userphoto {
    width: 0.64rem;
    height: 0.64rem;
    margin-right: 0.12rem;
    border-radius: 100%;
}
/*header end*/
/*nav begin*/
.nav { }
/*nav end*/
#container {
    position: relative;
    width: 10rem;
    margin: 0 auto;
    padding-bottom: 1.38rem;
    background-color: #232333;
}
.vod-container {
    width: 95%;
    margin: 0 auto;
    padding-top: 0.53rem;
}
.gotop {
    display: block;
    position: fixed;
    right: 0.67rem;
    bottom: 4.8rem;
    width: 0.87rem;
    height: 0.44rem;
    padding-top: 0.43rem;
    font-size: 0.29rem;
    text-align: center;
    color: #fff;
    border-radius: 0.11rem;
    background: #f00 url("../images/icon/gotop.png") no-repeat center 0.11rem;
    background-size: 0.36rem auto;
    z-index: 90;
    cursor: pointer;
}
/*index begin*/
.index-headerad {
    position: relative;
    width: 100%;
    height: 1.69rem;
    background: url("../images/index_add_bg.png") no-repeat;
    background-size: 100%;
}
.index-headerad-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.6rem;
    height: 0.57rem;
    background: url("../images/index_add_close.png") no-repeat;
    background-size: 100% auto;
}
.index-headerad .index-headerad-main {
    width: 95%;
    margin: 0 auto;
}
.index-headerad-main .index-headerad-info {
    height: 1.42rem;
    padding-left: 0.77rem;
    padding-top: 0.27rem;
    color: #f00;
    line-height: 1.4;
    background: url("../images/icon/index_add_icon.png") no-repeat left center;
    background-size: 0.55rem auto;
}
.index-headerad-info h2 {
    font-size: 0.48rem;
}
.index-headerad-info p {
    font-size: 0.32rem;
}
.index-headerad-main .index-headerad-down {
    display: block;
    width: 1.36rem;
    height: 0.73rem;
    margin-top: 0.4rem;
    margin-right: 0.8rem;
    text-align: center;
    line-height: 0.73rem;
    font-size: 0.32rem;
    color: #f00;
    border: 1px solid #f00;
    border-radius: 0.06rem;
}
.index-banner {
    position: relative;
    width: 100%;
    margin-bottom: 0.33rem;
}
.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    font-size: 0.32rem;
    color: #fff;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.swiper-slide .index-banner-tips {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.3rem;
    height: 0.53rem;
    line-height: 0.53rem;
    text-align: center;
    background-color: #0f0;
}
.swiper-slide .index-banner-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.75rem;
    line-height: 0.75rem;
    text-indent: 0.4rem;
    background: rgba(0, 0, 0, .8);
}
.swiper-pagination {
    text-align: right;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    height: 0.51rem;
    padding-top: 0.24rem;
    bottom: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.1rem;
}
.swiper-pagination-white .swiper-pagination-bullet {
    width: 0.27rem;
    height: 0.27rem;
    background: url("../images/icon/dot.png") no-repeat;
    background-size: 100% auto;
}
.swiper-pagination-bullet {
    width: 0.27rem;
    height: 0.27rem;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: url("../images/icon/dot_current.png") no-repeat;
    background-size: 100% auto;
}
.index-list {
    margin-bottom: 0.44rem;
}
.index-list .index-list-title {
    display: flex;
    justify-content: space-between;
    height: 0.48rem;
    margin-bottom: 0.21rem;
}
.index-list-title h2 {
    height: 0.48rem;
    padding-left: 0.58rem;
    font-size: 0.4rem;
    font-family: "HYk1gj";
    line-height: 0.48rem;
}
.index-list-title h2 span {
    background: -webkit-linear-gradient(left, #e51515, #f56f0f);
    -webkit-background-clip: text; /*只有webkit内核支持text的剪切模式*/
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.index-list-title a {
    font-size: 0.32rem;
    line-height: 0.48rem;
    color: #4d516f;
}
.index-list .index-listbox {
}
.index-listbox ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.3rem;
}
.index-list-item {
    margin-bottom: 0.32rem;
    margin-left: 0.3rem;
}
.index-list-item a {
    display: block;
}
.index-list-imgbox {
    width: 4.6rem;
    height: 2.72rem;
    margin-bottom: 0.16rem;
}
.index-list-imgbox img {
    width: 4.6rem;
    height: 2.72rem;
}
.index-list-name {
    margin-bottom: 0.13rem;
    font-size: 0.32rem;
    color: #fff;
}
.index-list-info span {
    padding-left: 0.37rem;
    padding-right: 0.4rem;
    font-size: 0.27rem;
}
.index-list-playnum {
    background: url("../images/icon/play.png") no-repeat left center;
    background-size: 0.28rem auto;
}
.index-list-commentnum {
    background: url("../images/icon/comment.png") no-repeat left center;
    background-size: 0.28rem auto;
}
.index-listbox .index-list-refresh {
    display: block;
    width: 1.84rem;
    height: 0.48rem;
    margin: 0 auto;
    font-size: 0.29rem;
    line-height: 0.48rem;
    text-indent: 0.32rem;
    border: 1px solid #4d516f;
    border-radius: 0.48rem;
    background: url("../images/icon/refresh.png") no-repeat 1.28rem center;
    background-size: 0.28rem auto;
    cursor: pointer;
}
.index-recommend .index-list-title h2 {
    background: url("../images/icon/index_title_recommend.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-favorite .index-list-title h2 {
    background: url("../images/icon/index_title_favorite.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-mostplay .index-list-title h2 {
    background: url("../images/icon/index_title_mostplay.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-renewest .index-list-title h2 {
    background: url("../images/icon/index_title_newest.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-ad {
    display: block;
    width: 100%;
    min-height: 2.05rem;
    margin-bottom: 0.24rem;
}
.index-ad2 {
    display: block;
    width: 100%;
    min-height: 2.92rem;
    margin-bottom: 0.24rem;
}
/*index end*/
/*pagination begin*/
.pagination {
    display: flex;
    width: 6.32rem;
    margin: 0 auto;
    padding-bottom: 0.28rem;
}
.pagination span {
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 0.06rem;
    font-size: 0.29rem;
    text-align: center;
    line-height: 0.52rem;
    border: 1px solid #7e83a6;
    cursor: pointer;
}
.pagination span.pagination-prev, .pagination span.pagination-next {
    width: 1.12rem;
}
.pagination span.pagination-active {
    color: #fff;
    border: 1px solid #f00;
    background-color: #f00;
}
/*pagination end*/
