@charset "UTF-8";
#container {
    position: relative;
    width: 10rem;
    margin: 0 auto;
    background-color: #232333;
}
.vod-container {
    width: 95%;
    margin: 0 auto;
    /*padding-top: 0.53rem;*/
    padding-top: 1.69rem;
    padding-bottom: 1.38rem;
}
.center-container {
    /*padding-bottom: 1.38rem;*/
}
/*login begin*/
.login-top, .register-top {
    position: relative;
    width: 100%;
    height: 6.36rem;
}
.login-top .login-top-showdown, .register-top .register-top-showdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.24rem;
    background: url("../images/login_top_showdown.png") repeat-x left top;
    background-size: auto 100%;
}
.login-top .login-top-bg, .register-top .register-top-bg {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/login_top_bg.png") no-repeat center bottom;
    background-size: 100% auto;
}
.login-top-icon, .register-top-icon {
    position: absolute;
    bottom: -0.85rem;
    left: 50%;
    width: 1.86rem;
    height: 1.86rem;
    margin-left: -0.925rem;
    background: url("../images/login_top_icon.png") no-repeat;
    background-size: 100% auto;
}
.login-container, .register-container {
    padding-top: 1.16rem;
}
.login-container h1, .register-container h1 {
    width: 100%;
    margin-bottom: 0.53rem;
    font-size: 0.4rem;
    text-align: center;
    color: #fff;
}
.login-form, .register-form {
    width: 8.2rem;
    margin: 0 auto;
}
.login-form-item {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 0.65rem;
    font-size: 0.32rem;
}
.login-form-item .login-input, .register-form-item .register-input {
    width: 100%;
    height: 1rem;
    line-height: 1rem;
    text-indent: 1.08rem;
    color: #7e83a6;
    border-radius: 1rem;
}
input.login-input::-webkit-input-placeholder, input.register-input::-webkit-input-placeholder {
    color: #7e83a6;
}
input.login-input:-moz-placeholder, input.register-input::-moz-placeholder {
    color: #7e83a6;
}
input.login-input::-moz-placeholder, input.register-input::-moz-placeholder {
    color: #7e83a6;
}
input.login-input:-ms-input-placeholder, input.register-input::-ms-input-placeholder {
    color: #7e83a6;
}
.login-username, .register-username {
    background: #33364b url("../images/icon/login_account.png") no-repeat 0.52rem center;
    background-size: 0.35rem auto;
}
.login-pwd, .register-pwd {
    background: #33364b url("../images/icon/login_pwd.png") no-repeat 0.52rem center;
    background-size: 0.30rem auto;
}
.login-form-item .login-btn, .register-form-item .register-btn {
    width: 100%;
    height: 1rem;
    color: #fff;
    border-radius: 1rem;
    background-image: -moz-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 234, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 234, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 234, 0) 100%);
    cursor: pointer;
}
.login-form-item label {
    display: flex;
    position: relative;
    margin-left: 0.5rem;
    margin-top: -0.24rem;
}
.login-form-item label .login-checkbox {
    width: 0.32rem;
    height: 0.32rem;
    margin-right: 0.13rem;
    border: 1px solid #7e83a6;
}
.login-form-item label .login-checked {
    background: url("../images/icon/login_checked.png") no-repeat center center;
    background-size: 0.32rem auto;
}
.login-form-item input[type=checkbox] {
    position: absolute;
    top: -0.32rem;
    left: -0.32rem;
    width: 0.32rem;
    height: 0.32rem;
    visibility: hidden;
}
.login-form-item .login-fogetpwd {
    display: block;
    margin-top: -0.24rem;
}
.login-container .login-registerlink {
    display: block;
    width: 2.48rem;
    height: 0.77rem;
    margin: 0 auto;
    font-size: 0.32rem;
    line-height: 0.77rem;
    text-align: center;
    color: #f56f0f;
    border: 1px solid transparent;
    border-radius: 0.77rem;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    background-image: linear-gradient(45deg, #232333, #232333), linear-gradient(45deg, #f00, #fae401);
}
/*login end*/
/*register begin*/
.register-title {
    position: relative;
}
.register-title p {
    position: absolute;
    left: 6.00rem;
    bottom: 0rem;
    font-size: 0.32rem;
}
.register-title p a {
    color: #f56f0f;
}
.register-form-item {
    position: relative;
    margin-bottom: 0.35rem;
    font-size: 0.32rem;
}
.register-phone {
    background: #33364b url("../images/icon/register_phone.png") no-repeat 0.53rem center;
    background-size: 0.33rem auto;
}
.register-yzm {
    background: #33364b url("../images/icon/register_yzm.png") no-repeat 0.53rem center;
    background-size: 0.37rem auto;
}
.register-yzmbtn {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    width: 2.87rem;
    height: 0.62rem;
    margin-top: -0.31rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.62rem;
    color: #fff;
    border-radius: 0.62rem;
    background-color: #ffd800;
    cursor: pointer;
}
.register-form-item label {
    display: flex;
    margin-bottom: 0.29rem;
}
.register-form-item label .register-checkbox {
    position: relative;
    width: 0.32rem;
    height: 0.32rem;
    margin-right: 0.13rem;
    border: 1px solid #7e83a6;
}
.register-form-item label .register-checked {
    background: url("../images/icon/login_checked.png") no-repeat center center;
    background-size: 0.32rem auto;
}
.register-form-item input[type=checkbox] {
    position: absolute;
    top: -0.32rem;
    width: 0.32rem;
    height: 0.32rem;
    visibility: hidden;
}
.register-form-item label a {
    color: #fff;
}
/*register end*/
/*bottomMenu begin*/
.bottom-menu {
    display: flex;
    display: -webkit-flex; /* Safari */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1.38rem;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    background-color: #14141e;
}
.bottom-menu a.bottom-menu-item {
    display: block;
    width: 33.3%;
    padding-top: 0.93rem;
    font-size: 0.29rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center 0.13rem;
    background-size: 0.67rem auto;
    color: #fff;
}
.bottom-menu-home {
    background-image: url("../images/icon/bottom_home.png");
}
.bottom-menu-addbusiness {
    background-image: url("../images/icon/bottom_addbusiness.png");
}
.bottom-menu-suggest {
    background-image: url("../images/icon/bottom_suggest.png");
}
.bottom-menu a.bottom-menu-current {
    color: #ffd800;
    background-color: #000;
}
.bottom-menu-current.bottom-menu-home {
    background-image: url("../images/icon/bottom_home_active.png");
}
.bottom-menu-current.bottom-menu-addbusiness {
    background-image: url("../images/icon/bottom_addbusiness_active.png");
}
.bottom-menu-current.bottom-menu-suggest {
    background-image: url("../images/icon/bottom_suggest_active.png");
}
/*bottomMenu end*/
/*header being*/
.header {
    background-color: #000;
}
.header .header-main {
    display: flex;
    width: 95%;
    margin: 0 auto;
    padding: 0.27rem 0;
    justify-content: space-between;
}
.header-main .header-logo {
    display: block;
    width: 1.85rem;
}
.header-main .header-search {
    width: 50%;
    height: 0.64rem;
    border-radius: 0.64rem;
    background: #414141 url("../images/icon/index_header_search.png") no-repeat 0.32rem center;
    background-size: 0.36rem auto;
}
.header-search input {
    width: 100%;
    height: 0.64rem;
    font-size: 0.32rem;
    text-indent: 0.85rem;
    line-height: 0.64rem;
    color: #777;
}
.header-main .index-loginbtn {
    height: 0.37rem;
    padding-top: 0.135rem;
    padding-left: 0.51rem;
    font-size: 0.32rem;
    line-height: 0.37rem;
    color: #fff;
    background: url("../images/icon/index_login_icon.png") no-repeat left bottom;
    background-size: 0.38rem auto;
}
.header-main .header-userinfo {
    display: flex;
    height: 0.64rem;
    font-size: 0.29rem;
    line-height: 0.64rem;
    color: #fff;
}
.header-userinfo .header-userphoto {
    width: 0.64rem;
    height: 0.64rem;
    margin-right: 0.12rem;
    border-radius: 100%;
}
/*header end*/
/*nav begin*/
.nav {
    position: relative;
    width: 100%;
    height: 0.77rem;
    background-color: #111119;
}
#nav {
    width: 8.35rem;
}
.navbox {
    display: flex;
    height: 100%;
}
.navbox .nav-item {
    height: 100%;
    font-size: 0.4rem;
    line-height: 0.77rem;
}
.navbox .swiper-slide {
    width: auto;
}
.nav-item a {
    display: block;
    padding: 0 0.2rem;
}
.navbox .nav-current {
    background-color: #f00;
}
.nav-current a {
    color: #fff;
}
.nav-channel {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    background-color: #111119;
}
.nav-channelbtn {
    display: block;
    width: 1.03rem;
    height: 0.77rem;
    padding-left: 0.61rem;
    font-size: 0.32rem;
    line-height: 0.77rem;
    color: #f00;
    background: url("../images/icon/nav_channel.png") no-repeat 0.17rem center;
    background-size: 0.29rem auto;
    cursor: pointer;
}
.nav-channelbox {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    right: -3.98rem;
    top: 0.83rem;
    width: 3.98rem;
    opacity: 0;
    padding: 0.41rem 0 0.41rem 0.31rem;
    background-color: #33364b;
    z-index: 99;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.nav-channel-show {
    right: 0;
    opacity: 1;
}
.nav-channelbox a {
    display: block;
    width: 1rem;
    margin-right: 0.31rem;
    margin-bottom: 0.21rem;
    font-size: 0.32rem;
}
.nav-channel-current {
    color: #ffd800;
}
.nav-channel-icon {
    display: none;
    position: absolute;
    left: 0.71rem;
    top: 0.66rem;
    width: 0.26rem;
    height: 0.13rem;
    background: url("../images/icon/nav_channel_icon.png") no-repeat center top;
    background-size: 100% auto;
    z-index: 99;
}
.navline {
    height: 4px;
    background-image: -moz-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
}
/*nav end*/
/*centerHeader being*/
.center-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 1.16rem;
    background-color: #000;
    z-index: 99;
}
.center-header h1 {
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.16rem;
    color: #fff;
}
.center-header .center-header-return {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.16rem;
    height: 1.16rem;
    background: url("../images/icon/center_return.png") no-repeat center center;
    background-size: auto 0.35rem;
}
/*centerHeader end*/
/*弹出框 begin*/
.vod-pop {
    display: table;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 8rem;
    height: 5rem;
    margin-left: -4rem;
    margin-top: -2.5rem;
    font-size: 0.4rem;
    color: #f00;
    border-radius: 0.2rem;
    background-color: #fff;
    opacity: 0;
    z-index: -1;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}
.vod-popbox {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
.vod-popbox .vod-popclose {
    position: absolute;
    top: 0.2rem;
    right: 0.2rem;
    font-size: 0.4rem;
}
.vod-popbox-info {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
/*弹出框 end*/
.gotop {
    display: block;
    position: fixed;
    right: 0.67rem;
    bottom: 2rem;
    width: 0.87rem;
    height: 0.44rem;
    padding-top: 0.43rem;
    font-size: 0.29rem;
    text-align: center;
    color: #fff;
    border-radius: 0.11rem;
    background: #f00 url("../images/icon/gotop.png") no-repeat center 0.11rem;
    background-size: 0.36rem auto;
    z-index: 90;
    cursor: pointer;
}
/*index begin*/
.index-headerad {
    position: relative;
    width: 100%;
    height: 1.69rem;
    background: url("../images/index_add_bg.png") no-repeat;
    background-size: 100%;
}
.index-headerad-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 0.6rem;
    height: 0.57rem;
    background: url("../images/index_add_close.png") no-repeat;
    background-size: 100% auto;
}
.index-headerad .index-headerad-main {
    width: 95%;
    margin: 0 auto;
}
.index-headerad-main .index-headerad-info {
    height: 1.42rem;
    padding-left: 0.77rem;
    padding-top: 0.27rem;
    color: #f00;
    line-height: 1.4;
    background: url("../images/icon/index_add_icon.png") no-repeat left center;
    background-size: 0.55rem auto;
}
.index-headerad-info h2 {
    font-size: 0.48rem;
}
.index-headerad-info p {
    font-size: 0.32rem;
}
.index-headerad-main .index-headerad-down {
    display: block;
    width: 1.36rem;
    height: 0.73rem;
    margin-top: 0.4rem;
    margin-right: 0.8rem;
    text-align: center;
    line-height: 0.73rem;
    font-size: 0.32rem;
    color: #f00;
    border: 1px solid #f00;
    border-radius: 0.06rem;
}
.index-container {
    padding-top: 0.53rem;
}
.index-banner {
    position: relative;
    width: 100%;
    margin-bottom: 0.33rem;
}
.swiper-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.swiper-slide {
    position: relative;
    font-size: 0.32rem;
    color: #fff;
}
.swiper-slide img {
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}
.swiper-slide .index-banner-tips {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 2.3rem;
    height: 0.53rem;
    line-height: 0.53rem;
    text-align: center;
    background-color: #0f0;
}
.swiper-slide .index-banner-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.75rem;
    line-height: 0.75rem;
    text-indent: 0.4rem;
    color: #fff;
    background: rgba(0, 0, 0, .8);
}
.swiper-pagination {
    width: 100%;
    text-align: right;
}
.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    height: 0.51rem;
    padding-top: 0.24rem;
    bottom: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 0.1rem;
}
.swiper-pagination-white .swiper-pagination-bullet {
    width: 0.27rem;
    height: 0.27rem;
    background: url("../images/icon/dot.png") no-repeat;
    background-size: 100% auto;
}
.swiper-pagination-bullet {
    width: 0.27rem;
    height: 0.27rem;
    display: inline-block;
    border-radius: 100%;
    opacity: 1;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
    background: url("../images/icon/dot_current.png") no-repeat;
    background-size: 100% auto;
}
.vod-list {
    margin-bottom: 0.44rem;
}
.vod-list .vod-list-title {
    display: flex;
    justify-content: space-between;
    height: 0.48rem;
    margin-bottom: 0.21rem;
}
.vod-list-title h2 {
    height: 0.48rem;
    padding-left: 0.58rem;
    font-size: 0.4rem;
    font-family: "HYk1gj";
    line-height: 0.48rem;
}
.vod-list-title h2 span {
    font-family: 'HYk1gj', serif;
    background: -webkit-linear-gradient(left, #e51515, #f56f0f);
    background: -moz-linear-gradient(left, #e51515, #f56f0f);
    background: -ms-linear-gradient(left, #e51515, #f56f0f);
    -webkit-background-clip: text; /*只有webkit内核支持text的剪切模式*/
    color: transparent;
    -webkit-text-fill-color: transparent;
}
.vod-list-title a {
    font-size: 0.32rem;
    line-height: 0.48rem;
    color: #4d516f;
}
.vod-list .vod-listbox {
}
.vod-listbox ul {
    display: flex;
    flex-wrap: wrap;
    margin-left: -0.3rem;
}
.vod-list-item {
    margin-bottom: 0.32rem;
    margin-left: 0.3rem;
}
.vod-list-item a {
    display: block;
}
.vod-list-imgbox {
    width: 4.6rem;
    height: 2.72rem;
    margin-bottom: 0.16rem;
}
.vod-list-imgbox img {
    width: 4.6rem;
    height: 2.72rem;
}
.vod-list-name {
    margin-bottom: 0.13rem;
    font-size: 0.32rem;
    color: #fff;
}
.vod-list-info span {
    padding-left: 0.37rem;
    padding-right: 0.4rem;
    font-size: 0.27rem;
}
.vod-list-playnum {
    background: url("../images/icon/play.png") no-repeat left center;
    background-size: 0.28rem auto;
}
.vod-list-commentnum {
    background: url("../images/icon/comment.png") no-repeat left center;
    background-size: 0.28rem auto;
}
.vod-listbox .vod-list-refresh {
    display: block;
    width: 1.84rem;
    height: 0.48rem;
    margin: 0 auto;
    font-size: 0.29rem;
    line-height: 0.48rem;
    text-indent: 0.32rem;
    border: 1px solid #4d516f;
    border-radius: 0.48rem;
    background: url("../images/icon/refresh.png") no-repeat 1.28rem center;
    background-size: 0.28rem auto;
    cursor: pointer;
}
.index-recommend .vod-list-title h2 {
    background: url("../images/icon/index_title_recommend.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-favorite .vod-list-title h2 {
    background: url("../images/icon/index_title_favorite.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-mostplay .vod-list-title h2 {
    background: url("../images/icon/index_title_mostplay.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-renewest .vod-list-title h2 {
    background: url("../images/icon/index_title_newest.png") no-repeat left center;
    background-size: auto 0.48rem;
}
.index-ad {
    display: block;
    width: 100%;
    min-height: 2.05rem;
    margin-bottom: 0.24rem;
}
.index-ad2 {
    display: block;
    width: 100%;
    min-height: 2.92rem;
    margin-bottom: 0.24rem;
}
/*index end*/
/*pagination begin*/
.pagination {
    display: flex;
    width: 6.32rem;
    margin: 0 auto;
    padding-bottom: 0.28rem;
}
.pagination span {
    display: block;
    width: 0.52rem;
    height: 0.52rem;
    margin: 0 0.06rem;
    font-size: 0.29rem;
    text-align: center;
    line-height: 0.52rem;
    border: 1px solid #7e83a6;
    cursor: pointer;
}
.pagination span.pagination-prev, .pagination span.pagination-next {
    width: 1.12rem;
}
.pagination span.pagination-active {
    color: #fff;
    border: 1px solid #f00;
    background-color: #f00;
}
/*pagination end*/
/*videolist begin*/
.video-list .vod-list-title h2 {
    height: 0.48rem;
    padding-left: 0;
    font-size: 0.35rem;
    font-family: STHeiti, "STHeiTi";
    line-height: 0.48rem;
    color: #ffd800;
}
.vod-listbox .vod-list-loadmore, .activity-list .vod-list-loadmore {
    position: relative;
    width: 2.87rem;
    height: 0.69rem;
    margin: 0 auto;
    margin-top: 0.32rem;
    font-size: 0.32rem;
    line-height: 0.69rem;
    text-indent: 1.08rem;
    border: 1px solid #4d516f;
    border-radius: 0.69rem;
    cursor: pointer;
}
.vod-list-loadmore .vod-list-loadmoreicon {
    display: block;
    position: absolute;
    left: 0.53rem;
    top: 50%;
    width: 0.4rem;
    height: 0.41rem;
    margin-top: -0.205rem;
    background: url("../images/icon/loadmore.png") no-repeat center center;
    background-size: 100% auto;
}
.vod-list-around .vod-list-loadmoreicon {
    animation: around 2s linear infinite;
}
@keyframes around {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-moz-keyframes around /* Firefox */
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes around /* Safari 和 Chrome */
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-o-keyframes around /* Opera */
{
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
.videolist {
    padding-top: 0.29rem;
}
.videolist .vod-list {
    margin-bottom: 0.73rem;
}
/*videolist end*/
/*video begin*/
.video {
    padding-top: 0.53rem;
}
.video-container {
    background-color: #33364b;
}
.video-js {
    width: 100%;
    height: 5.59rem;
}
.video-js .vjs-control-bar {
    height: 0.75rem;
}
.video-info {
    padding: 0.4rem 0 0.42rem 0;
}
.video-info .video-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.26rem;
    padding: 0 0.34rem;
    font-size: 0.32rem;
}
.video-title h2 {
    font-size: 0.4rem;
    color: #fff;
    font-weight: bold;
}
.video-title a {
    padding-right: 0.36rem;
    background: url("../images/icon/video_arrow.png") no-repeat right center;
    background-size: 0.15rem auto;
}
.video-info > p {
    padding: 0 0.34rem;
    font-size: 0.32rem;
}
.video-info .video-btn {
    display: flex;
    justify-content: space-between;
    margin-top: 0.26rem;
    padding: 0 0.34rem;
    padding-top: 0.31rem;
    font-size: 0.32rem;
    border-top: 1px solid #4d516f;
}
.video-btn .video-comment {
    display: block;
    height: 0.44rem;
    padding-left: 0.69rem;
    line-height: 0.44rem;
    background: url("../images/icon/video_comment.png") no-repeat left center;
    background-size: 0.44rem auto;
}
.video-btnbox {
    display: flex;
    justify-content: space-between;
}
.video-btnbox a {
    display: block;
    height: 0.44rem;
    margin-left: 0.44rem;
    background-size: auto 100%;
}
.video-collect {
    width: 0.46rem;
    background: url("../images/icon/video_collect.png") no-repeat;
}
.video-praise {
    width: 0.53rem;
    background: url("../images/icon/video_praise.png") no-repeat;
}
.video-share {
    width: 0.51rem;
    background: url("../images/icon/video_share.png") no-repeat;
}
.video-btnbox a.video-collect-active {
    width: 0.46rem;
    background: url("../images/icon/video_collect_active.png") no-repeat;
    background-size: auto 100%;
}
.video-btnbox a.video-praise-active {
    width: 0.53rem;
    background: url("../images/icon/video_praise_active.png") no-repeat;
    background-size: auto 100%;
}
/*video end*/
/*messageList begin*/
.messagelist-item {
    position: relative;
    padding: 0.50rem 0.28rem 0.35rem 0.28rem;
    margin-bottom: 0.4rem;
    background-color: #33364b;
}
.messagelist-item a {
    display: block;
    width: 100%;
}
.messagelist-item .messagelist-time {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.92rem;
    height: 0.35rem;
    padding-left: 0.29rem;
    background-image: -moz-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    border-radius: 0 0.35rem 0.35rem 0;
}
.messagelist-time span {
    display: block;
    padding-left: 0.35rem;
    font-size: 0.26rem;
    line-height: 0.36rem;
    color: #fff;
    background: url("../images/icon/messagelist_clock.png") no-repeat left center;
    background-size: 0.26rem auto;
}
.messagelist-item .messagelist-title {
    padding-right: 0.3rem;
    font-size: 0.4rem;
    line-height: 1.6;
    color: #ffd800;
    background: url("../images/icon/messagelist_new.png") no-repeat right top;
    background-size: 0.17rem 0.17rem;
}
.messagelist-item article {
    font-size: 0.32rem;
    line-height: 0.4rem;
    color: #7e83a6;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.messagelist-read .messagelist-title {
    color: #fff;
    background: none;
}
/*messageList end*/
/*message begin*/
.message {
    padding-top: 0.57rem;
}
.message .message-top {
    padding-bottom: 0.33rem;
    border-bottom: 1px solid #4d516f;
}
.message-top h2 {
    margin-bottom: 0.28rem;
    font-size: 0.48rem;
    text-align: center;
    color: #ffd800;
}
.message-top .message-time {
    display: block;
    width: 2.1rem;
    height: 0.35rem;
    margin: 0 auto;
    padding-left: 0.43rem;
    font-size: 0.32rem;
    line-height: 0.35rem;
    color: #fff;
    background: url("../images/icon/message_clock.png") no-repeat left center;
    background-size: auto 0.35rem;
}
.message-box {
    width: 91%;
    margin: 0 auto;
    padding-top: 0.37rem;
}
.message-box p {
    font-size: 0.29rem;
    line-height: 0.48rem;
}
/*message end*/
/*usercenter begin*/
.usercenter, .safecenter {
    padding-top: 1.69rem;
}
.usercenter-userinfobox {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.36rem;
    padding: 0.35rem 2.5%;
    background: #33364b url("../images/icon/usercenter_arrow.png") no-repeat 97.5% center;
    background-size: 0.23rem auto;
}
.usercenter-userinfo, .safecenter-safeinfo {
    display: flex;
    justify-content: space-between;
}
.usercenter-userphoto {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 0.22rem;
    border-radius: 100%;
}
.usercenter-userinfo > div, .safecenter-safeinfo > div {
    padding-top: 0.44rem;
}
.usercenter-username {
    padding-right: 0.53rem;
    font-size: 0.4rem;
    color: #fff;
    background: url("../images/icon/usercenter_novip.png") no-repeat right center;
    background-size: 0.38rem auto;
}
.usercenter-usertips {
    display: block;
    margin-top: 0.19rem;
    font-size: 0.27rem;
    color: #fff;
}
.usercenter-userinfobox .usercenter-vipbtn {
    width: 2.57rem;
    height: 0.71rem;
    margin-top: 0.52rem;
    margin-right: 0.56rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.71rem;
    color: #fff;
    border-radius: 0.71rem;
    background-image: -moz-linear-gradient(0deg, rgb(245, 111, 15) 0%, rgb(255, 215, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(245, 111, 15) 0%, rgb(255, 215, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(245, 111, 15) 0%, rgb(255, 215, 0) 100%);
}
.usercenter-main .usercenter-item {
    width: 95%;
    height: 1.23rem;
    margin-bottom: 0.36rem;
    padding: 0 2.5%;
    font-size: 0.4rem;
    line-height: 1.23rem;
    background: #33364b url("../images/icon/usercenter_arrow.png") no-repeat 97.5% center;
    background-size: 0.23rem auto;
}
.usercenter-item:active {
    background: #4d516f url("../images/icon/usercenter_arrow_active.png") no-repeat 97.5% center;
    background-size: 0.23rem auto;
}
.usercenter-item a {
    display: block;
    padding-left: 1rem;
}
.usercenter-msg {
    background: url("../images/icon/usercenter_msg.png") no-repeat left center;
    background-size: 0.65rem auto;
}
.usercenter-history {
    background: url("../images/icon/usercenter_clock.png") no-repeat left center;
    background-size: 0.6rem auto;
}
.usercenter-collect {
    background: url("../images/icon/usercenter_collect.png") no-repeat left center;
    background-size: 0.69rem auto;
}
.usercenter-account {
    background: url("../images/icon/usercenter_account.png") no-repeat left center;
    background-size: 0.59rem auto;
}
.usercenter-safe {
    background: url("../images/icon/usercenter_safe.png") no-repeat left center;
    background-size: 0.55rem auto;
}
/*usercenter end*/
/*safeCenter begin*/
.safecenter-safeinfobox {
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-bottom: 0.36rem;
    padding: 0.35rem 2.5%;
    background: #33364b;
    background-size: 0.23rem auto;
}
.safecenter-safeinfobox .safecenter-exitbtn {
    width: 1.4rem;
    height: 0.71rem;
    margin-top: 0.52rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.71rem;
    color: #fff;
    border-radius: 0.71rem;
    background-image: -moz-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
}
.safecenter-main .safecenter-item {
    width: 95%;
    height: 1.23rem;
    padding: 0 2.5%;
    font-size: 0.32rem;
    line-height: 1.23rem;
    border-bottom: 1px solid #232333;
    background: #33364b url("../images/icon/usercenter_arrow.png") no-repeat 97.5% center;
    background-size: 0.23rem auto;
}
.safecenter-main .safecenter-item:first-child {
    margin-bottom: 0.36rem;
}
.safecenter-item:active {
    background: #4d516f url("../images/icon/usercenter_arrow_active.png") no-repeat 97.5% center;
    background-size: 0.23rem auto;
}
.safecenter-item a {
    display: flex;
    justify-content: space-between;
    padding-left: 0.72rem;
}
.safecenter-item a span {
    padding-right: 0.4rem;
}
.safecenter-item .safecenter-item-title {
    color: #fff;
}
.safecenter-loginrecord {
    background: url("../images/icon/safecenter_time.png") no-repeat left center;
    background-size: 0.45rem auto;
}
.safecenter-phonenum {
    background: url("../images/icon/safecenter_phone.png") no-repeat left center;
    background-size: 0.53rem auto;
}
.safecenter-bindemail {
    background: url("../images/icon/safecenter_email.png") no-repeat left center;
    background-size: 0.57rem auto;
}
.safecenter-modifypwd {
    background: url("../images/icon/safecenter_pwd.png") no-repeat left center;
    background-size: 0.4rem auto;
}
/*safeCenter end*/
/*history begin*/
.history {
    padding-top: 0.51rem;
}
.history-box { }
.history-box .history-title {
    width: 1.53rem;
    height: 0.53rem;
    margin-bottom: 0.24rem;
    border-radius: 0.53rem;
    font-size: 0.32rem;
    line-height: 0.53rem;
    color: #fff;
}
.history-title h2 {
    text-indent: 0.66rem;
    background: url("../images/icon/message_clock.png") no-repeat 0.24rem center;
    background-size: auto 0.35rem;
}
.history-today .history-title {
    background-image: -moz-linear-gradient(0deg, rgb(255, 52, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 52, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 52, 0) 0%, rgb(255, 216, 0) 100%);
}
.history-yestoday .history-title {
    background-image: -moz-linear-gradient(0deg, rgb(40, 211, 20) 0%, rgb(255, 216, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(40, 211, 20) 0%, rgb(255, 216, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(40, 211, 20) 0%, rgb(255, 216, 0) 100%);
}
.history-otherday .history-title {
    background-image: -moz-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
}
.history-list .history-list-item {
    display: flex;
    justify-content: space-between;
    height: 2.72rem;
    margin-bottom: 0.51rem;
}
.history-list-item .history-list-imgbox {
    display: block;
    position: relative;
    width: 4.6rem;
    height: 2.72rem;
}
.history-list-imgbox time {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.08rem;
    height: 0.43rem;
    font-size: 0.27rem;
    text-align: center;
    line-height: 0.43rem;
    color: #fff;
    background-color: #f56f0f;
}
.history-list-item .history-list-txtbox {
    width: 4.4rem;
    height: 2.72rem;
}
.history-list-title {
    display: block;
    margin-bottom: 0.2rem;
    font-size: 0.4rem;
    color: #ffd800;
}
.history-list-type {
    display: block;
    font-size: 0.29rem;
    line-height: 0.4rem;
    color: #fff;
}
.history-list-txtbox p {
    height: 1.14rem;
    font-size: 0.29rem;
    line-height: 0.4rem;
    overflow: hidden;
}
.history-list-txtbox time {
    display: block;
    height: 0.4rem;
    margin-top: 0.1rem;
    padding-left: 0.43rem;
    font-size: 0.29rem;
    line-height: 0.4rem;
    background: url("../images/icon/register_phone.png") no-repeat left center;
    background-size: auto 0.37rem;
}
/*history end*/
/*collect begin*/
.collect-choose {
    display: flex;
    position: absolute;
    right: 2.5%;
    top: 0;
    height: 1.16rem;
}
.collect-choose .collect-choosebtn {
    display: block;
    margin-right: 0.24rem;
    font-size: 0.4rem;
    line-height: 1.16rem;
    cursor: pointer;
}
.collect-choose .collect-chooseall {
    display: none;
    margin-right: 0.24rem;
    font-size: 0.4rem;
    line-height: 1.16rem;
    color: #e2c009;
    cursor: pointer;
}
.collect-choose .collect-deletebtn {
    display: none;
    width: 0.4rem;
    height: 0.4rem;
    margin-top: 0.38rem;
    background: url("../images/icon/collect_delete.png") no-repeat;
    background-size: 100% auto;
    cursor: pointer;
}
.collect-checkmain {
    display: none;
    position: relative;
}
.collect-checkmain .collect-check {
    width: 0.4rem;
    height: 0.4rem;
    margin-right: 0.37rem;
    margin-top: 1.16rem;
    border: 1px solid #7e83a6;
    overflow: hidden;
}
.collect-checkmain .collect-checked {
    background: url("../images/icon/login_checked.png") no-repeat center center;
    background-size: 0.32rem auto;
}
.collect-checkmain input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    width: 0.4rem;
    height: 0.4rem;
    visibility: hidden;
}
.collect-list-imgbox {
    display: block;
    position: relative;
    width: 4.5rem;
    height: 2.64rem;
    margin-right: 0.37rem;
    margin-left: 0.4rem;
}
.collect-list-imgbox time {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1.08rem;
    height: 0.43rem;
    font-size: 0.27rem;
    text-align: center;
    line-height: 0.43rem;
    color: #fff;
    background-color: #f56f0f;
}
.collect-list-txtbox {
    width: 4.0rem;
    height: 2.65rem;
}
.collect-list-txtbox p {
    height: 1.14rem;
    font-size: 0.29rem;
    line-height: 0.4rem;
    overflow: hidden;
}
.collect-list-txtbox time {
    display: block;
    height: 0.4rem;
    margin-top: 0.1rem;
    padding-left: 0.43rem;
    font-size: 0.29rem;
    line-height: 0.4rem;
    background: url("../images/icon/register_phone.png") no-repeat left center;
    background-size: auto 0.37rem;
}
/*collect end*/
/*account being*/
.myaccount {
    padding-top: 1.69rem;
}
.myaccount-main {
    margin-bottom: 0.6rem;
}
.myaccount-main .myaccount-item {
    width: 95%;
    height: 1.23rem;
    margin-bottom: 0.36rem;
    padding: 0 2.5%;
    font-size: 0.4rem;
    line-height: 1.23rem;
    background: #33364b url("../images/icon/usercenter_arrow.png") no-repeat 97.5% center;
    background-size: 0.23rem auto;
}
.myaccount-item .myaccount-itemcon {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.myaccount-itemcon .myaccount-title {
    font-size: 0.4rem;
    color: #fff;
}
.myaccount-itemcon .myaccount-msg {
    margin-right: 0.6rem;
    font-size: 0.32rem;
}
.myaccount-main .myaccount-photoitem {
    height: 1.49rem;
    padding: 0.11rem 2.5%;
    line-height: 1.49rem;
}
.myaccount-photoitem .myaccount-itemcon > img {
    display: block;
    width: 1.49rem;
    height: auto;
    margin-right: 0.92rem;
}
.myaccount .myaccount-btn {
    display: block;
    width: 95%;
    height: 1.12rem;
    margin: 0 auto;
    text-align: center;
    line-height: 1.12rem;
    font-size: 0.4rem;
    color: #7e83a6;
    border: 1px solid #7e83a6;
    border-radius: 0.24rem;
    cursor: pointer;
}
.myaccount .myaccount-btn:active {
    background-image: -moz-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(26, 86, 250) 0%, rgb(80, 175, 255) 100%);
    color: #fff;
    -webkit-tap-highlight-color: transparent;
}
/*account end*/
/*opinion begin*/
.opinion {
    width: 95%;
    margin: 0 auto;
    font-size: 0.32rem;
    padding-top: 1.29rem;
}
.opinion-problem {
    margin-bottom: 0.48rem;
}
.opinion-problem .opinion-problem-title {
    display: flex;
    justify-content: space-between;
    height: 0.79rem;
    padding: 0.32rem 0;
    line-height: 0.79rem;
}
.opinion-problem-title h2 {
    color: #ffd800;
}
.opinion-problem-title a {
    width: 3.96rem;
    height: 0.79rem;
    border-radius: 0.15rem;
    background-image: -moz-linear-gradient(0deg, rgb(20, 76, 249) 0%, rgb(77, 168, 254) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(20, 76, 249) 0%, rgb(77, 168, 254) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(20, 76, 249) 0%, rgb(77, 168, 254) 100%);
}
.opinion-problem-title a span {
    padding-left: 0.88rem;
    color: #fff;
    background: url("../images/icon/opinion_qq.png") no-repeat 0.44rem center;
    background-size: 0.31rem auto;
}
.opinion-problem-box {
}
.opinion-problem-box ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0.6rem 0 0.07rem 0;
    background-color: #33364b;
}
.opinion-problem-box .opinion-problem-item {
    position: relative;
    width: 50%;
    height: 0.33rem;
    line-height: 0.33rem;
    margin-bottom: 0.53rem;
}
.opinion-problem-item label {
    display: block;
    width: 100%;
    height: 0.33rem;
    text-indent: 0.6rem;
    background: url("../images/icon/option_check.png") no-repeat 3.67rem center;
    background-size: 0.32rem 0.32rem;
}
.opinion-problem-box .opinion-problem-checked {
    background: url("../images/icon/option_checked.png") no-repeat 3.67rem center;
    background-size: 0.33rem 0.33rem;
}
.opinion-problem-item input[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0.6rem;
    width: 0.33rem;
    visibility: hidden;
}
.opinion-problemmsg {
    margin-bottom: 0.4rem;
}
.opinion-tel {
    margin-bottom: 0.87rem;
}
.opinion-problemmsg h2, .opinion-tel h2 {
    margin-bottom: 0.25rem;
    color: #ffd800;
}
.opinion-problem-textarea {
    width: 100%;
    height: 2.7rem;
    padding-top: 0.32rem;
    text-indent: 0.52rem;
    background-color: #33364b;
    color: #7e83a6;
}
.opinion-tel-input {
    width: 100%;
    height: 1.04rem;
    text-indent: 0.52rem;
    line-height: 1.04rem;
    background-color: #33364b;
    color: #7e83a6;
}
.opinion-problem-textarea::-moz-placeholder, .opinion-tel-input::-moz-placeholder {
    color: #4d516f;
}
.opinion-problem-textarea::-webkit-input-placeholder, .opinion-tel-input::-webkit-input-placeholder {
    color: #4d516f;
}
.opinion-problem-textarea:-ms-input-placeholder, .opinion-tel-input:-ms-input-placeholder {
    color: #4d516f;
}
.opinion-btn {
    width: 100%;
    height: 1.04rem;
    text-align: center;
    line-height: 1.04rem;
    color: #fff;
    background-image: -moz-linear-gradient(0deg, rgb(255, 7, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 7, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 7, 0) 0%, rgb(255, 216, 0) 100%);
}
/*opinion end*/
/*advertise begin*/
.advertise {
    padding: 0.88rem 0;
    background-color: #33364b;
}
.advertise h2 {
    margin-bottom: 0.37rem;
    padding: 0 1.08rem;
    font-size: 0.48rem;
    color: #ffd800;
}
.advertise .advertise-msg {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.29rem;
    padding: 0 1.08rem;
    font-size: 0.35rem;
    line-height: 1.2;
    color: #7e83a6;
}
.advertise-msg .advertise-msgtitle {
    display: block;
    min-width: 1.1rem;
}
.advertise-msg:first-child .advertise-msgtitle {
    min-width: 1.8rem;
}
/*advertise end*/
/*pictureList begin*/
.picturelist {
    padding-top: 0.36rem;
}
.picturelist-title {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    height: 0.88rem;
    padding: 0 2.5%;
    background-color: #33364b;
}
.picturelist-title h1 {
    line-height: 0.88rem;
    font-size: 0.4rem;
    color: #ffd800;
}
.picturelist-menu .picturelist-menuicon {
    display: block;
    width: 0.47rem;
    height: 0.88rem;
    background: url("../images/icon/picturelist_menuicon.png") no-repeat left center;
    background-size: 0.47rem auto;
}
.picturelist-box ul {
    margin-left: 0;
}
.picturelist-item {
    width: 100%;
    margin-bottom: 0.4rem;
    background-color: #33364b;
    border-radius: 0.25rem;
    overflow: hidden;
}
.picturelist-item a {
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}
.picturelist-item a .picturelist-imgbox {
    width: 47%;
    min-height: 3.2rem;
}
.picturelist-item a .picturelist-txtbox {
    padding-top: 0.4rem;
    margin-left: 0.4rem;
    font-size: 0.27rem;
    color: #fff;
}
.picturelist-txtbox ul {
    display: block;
}
.picturelist-txtbox ul li {
    display: flex;
    width: 90%;
    line-height: 0.4rem;
    -webkit-flex-wrap: wrap; /* Safari */
    flex-wrap: wrap;
}
.picturelist-txtbox ul li h3 {
    height: 0.4rem;
    color: #7e83a6;
}
.picturelist-txtbox ul li i {
    display: block;
    height: 0.4rem;
    padding: 0 0.1rem;
    margin-right: 0.16rem;
    margin-bottom: 0.16rem;
    line-height: 0.4rem;
    border-radius: 0.04rem;
}
.bgcffd800 {
    background-color: #ffd800;
}
.bgcf56f0f {
    background-color: #f56f0f;
}
.bgc00ff00 {
    background-color: #0f0;
}
.picturelist-txtbox .picturelist-txtbox-tips {
    width: 90%;
    font-size: 0.32rem;
    line-height: 0.4rem;
}
/*pictureList end*/
/*picture begin*/
.picture {
    padding-top: 0;
    padding-bottom: 0.53rem;
    margin-top: 0.53rem;
    margin-bottom: 1.1rem;
    background-color: #33364b;
    border-radius: 0.25rem;
    overflow: hidden;
}
.picturebox {
    position: relative;
    width: 100%;
}
.picturebox .swiper-container {
    width: 100%;
}
.picture-txtbox {
    height: 1.44rem;
    padding: 0 2.5%;
    line-height: 1.44rem;
    font-size: 0.32rem;
    color: #7e83a6;
    border-bottom: 1px solid #4d516f;
}
.picture-sharebox {
    display: flex;
    justify-content: flex-start;
    padding-top: 0.4rem;
}
.picture-sharebox a {
    display: block;
    height: 0.44rem;
    margin-left: 0.44rem;
    background-size: auto 100%;
}
.picture-collect {
    width: 0.46rem;
    background: url("../images/icon/video_collect.png") no-repeat;
}
.picture-praise {
    width: 0.53rem;
    background: url("../images/icon/video_praise.png") no-repeat;
}
.picture-share {
    width: 0.51rem;
    background: url("../images/icon/video_share.png") no-repeat;
}
.picture-sharebox a.picture-collect-active {
    width: 0.46rem;
    background: url("../images/icon/video_collect_active.png") no-repeat;
    background-size: auto 100%;
}
.picture-sharebox a.picture-praise-active {
    width: 0.53rem;
    background: url("../images/icon/video_praise_active.png") no-repeat;
    background-size: auto 100%;
}
.picture-pop {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("../images/picture_pop.png") no-repeat;
    background-size: 100% 100%;
    z-index: 99;
}
/*picture end*/
/*activity begin*/
.slide {
    position: relative;
    width: 100%;
    min-height: 4.72rem;
    top: 0.3rem;
    overflow: hidden;
}
.slide .img {
    position: absolute;
    overflow: hidden;
    transition: left 0.4s, z-index 0.4s;
}
.slide .img img {
    width: 100%;
    height: auto;
    /*width: calc(100% - 14px);*/
    /*height: calc(100% - 14px);*/
}
.slide .img1 {
    width: 95%;
    height: 100%;
    top: 0;
    left: -50%;
    z-index: 1;
}
.slide .img2 {
    width: 95%;
    height: 100%;
    top: 0;
    left: -20%;
    z-index: 2;
}
.slide .img3 {
    width: 95%;
    height: 100%;
    top: 0;
    left: 2.5%;
    z-index: 3;
}
.slide .img4 {
    width: 95%;
    height: 100%;
    top: 0;
    left: 60%;
    z-index: 2;
}
.slide .img5 {
    width: 95%;
    height: 100%;
    top: 0;
    left: 110%;
    z-index: 1;
}
.slide-bt {
    position: absolute;
    left: 50%;
    bottom: 13%;
    z-index: 10;
}
.slide-bt span {
    width: 24px;
    height: 8px;
    background: #c9caca;
    float: left;
    margin: 5px;
    border-radius: 4px;
}
.slide .slide-bt .on {
    background: #ffd200;
}
button {
    width: 50px;
    margin: 20px;
}
.activity {
    padding-top: 0.53rem;
}
.activity-menu {
    width: 100%;
    height: 0.88rem;
    font-size: 0.32rem;
    line-height: 0.88rem;
    color: #7e83a6;
    overflow-x: scroll;
}
.activity-menu .activity-menubox {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.activity-menubox .activity-menu-item {
    margin-right: 0.4rem;
}
.activity-menubox .swiper-slide {
    width: auto;
}
.activity-menubox .activity-menu-item a {
    display: block;
}
.activity-menubox .activity-menu-current a {
    color: #ffd800;
}
.activity-list {
    margin-bottom: 0.67rem;
}
.activity-item {
    display: flex;
    min-height: 2.7rem;
    padding: 0.4rem;
    margin-bottom: 0.17rem;
    background-color: #33364b;
}
.activity-imgbox {
    display: block;
    position: relative;
    min-width: 4.62rem;
    min-height: 2.7rem;
    margin-right: 0.2rem;
}
.activity-imgbox img {
    display: block;
    width: 100%;
    height: auto;
}
.activity-imgbox .activity-tips {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 0.43rem;
    padding: 0 0.13rem;
    font-size: 0.27rem;
    line-height: 0.43rem;
    color: #fff;
    background-color: #f00;
}
.activity-txtbox {
    position: relative;
    min-height: 2.7rem;
}
.activity-txtbox i {
    font-size: 0.4rem;
    line-height: 0.48rem;
    color: #ffd800;
}
.activity-txtbox p {
    font-size: 0.27rem;
    line-height: 0.4rem;
    color: #7e83a6;
}
.activity-txtbox a {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 2.05rem;
    height: 0.53rem;
    font-size: 0.20rem;
    line-height: 0.53rem;
    text-align: center;
    color: #fff;
    border-radius: 0.53rem;
    background-image: -moz-linear-gradient(0deg, rgb(17, 72, 249) 0%, rgb(81, 176, 255) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(17, 72, 249) 0%, rgb(81, 176, 255) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(17, 72, 249) 0%, rgb(81, 176, 255) 100%);
}
.activity-txtbox a:active {
    background-image: -moz-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(255, 0, 0) 0%, rgb(255, 216, 0) 100%);
}
/*activity end*/
/*safestep begin*/
.safecenter-step {
    padding-top: 1.16rem;
}
.safecenter-steptop {
    display: flex;
    justify-content: flex-start;
    height: 1.6rem;
    padding: 0 0.2rem;
}
.safecenter-steptop span {
    display: block;
    height: 0.68rem;
    font-size: 0.32rem;
    text-align: center;
    line-height: 0.68rem;
    color: #7e83a6;
}
.safecenter-stepone {
    background: #111119 url("../images/safecenter_step1.png") no-repeat 0.2rem 0.68rem;
    background-size: 9.6rem auto;
}
.safecenter-steptwo {
    background: #111119 url("../images/safecenter_step2.png") no-repeat 0.2rem 0.68rem;
    background-size: 9.6rem auto;
}
.safecenter-stepthree {
    background: #111119 url("../images/safecenter_step2.png") no-repeat 0.2rem 0.68rem;
    background-size: 9.6rem auto;
}
.safecenter-steponetitle {
    width: 3.2rem;
}
.safecenter-steptwotitle {
    width: 2.7rem;
}
.safecenter-stepthreetitle {
    width: 3.5rem;
}
.safecenter-stepone .safecenter-steponetitle {
    color: #ffd800;
}
.safecenter-steptips {
    height: 0.84rem;
    padding: 0 0.2rem;
    font-size: 0.32rem;
    line-height: 0.84rem;
}
.safecenter-steptips span {
    color: #ffd800;
}
.safecenter-steptips i {
    color: #fff;
}
.safecenter-step-item {
    position: relative;
    height: 1.17rem;
    padding: 0 0.2rem;
    margin-bottom: 0.27rem;
    font-size: 0.32rem;
    background-color: #33364b;
}
.safecenter-step-item .safecenter-input {
    width: 5.3rem;
    height: 1.17rem;
    line-height: 1.17rem;
    color: #7e83a6;
}
input.safecenter-input::-webkit-input-placeholder, input.safecenter-input::-webkit-input-placeholder {
    color: #4d516f;
}
input.safecenter-input:-moz-placeholder, input.safecenter-input::-moz-placeholder {
    color: #4d516f;
}
input.safecenter-input::-moz-placeholder, input.safecenter-input::-moz-placeholder {
    color: #4d516f;
}
input.safecenter-input:-ms-input-placeholder, input.safecenter-input::-ms-input-placeholder {
    color: #4d516f;
}
.safecenter-step-item .safecenter-stepone-btn {
    position: absolute;
    right: 0.2rem;
    top: 50%;
    width: 2.97rem;
    height: 0.74rem;
    margin-top: -0.37rem;
    text-align: center;
    line-height: 0.74rem;
    font-size: 0.32rem;
    color: #fff;
    border-radius: 0.74rem;
    background-color: #ffd800;
}
.safecenter-stepbtn {
    position: absolute;
    bottom: 1.38rem;
    width: 100%;
    height: 1.2rem;
    font-size: 0.4rem;
    text-align: center;
    line-height: 1.2rem;
    color: #fff;
    background-color: #f56f0f;
}
/*safestep end*/
/*loginrecord begin*/
.loginrecord-add {
    width: 95%;
    height: 0.4rem;
    margin: 0 auto;
    margin-bottom: 0.45rem;
    font-size: 0.32rem;
    line-height: 0.4rem;
    color: #ffd10b;
    text-indent: 0.47rem;
    background: url("../images/icon/loginrecord_tips.png") no-repeat left center;
    background-size: 0.24rem auto;
}
.loginrecord-main .loginrecord-item {
    position: relative;
    width: 8.8rem;
    padding: 0.48rem 0.4rem;
    margin: 0 auto;
    margin-bottom: 0.32rem;
    font-size: 0.32rem;
    border-bottom: 1px solid #232333;
    background: #33364b url("../images/icon/usercenter_arrow.png") no-repeat 96% center;
    background-size: 0.23rem auto;
}
.loginrecord-item:active {
    background: #4d516f url("../images/icon/usercenter_arrow_active.png") no-repeat 96% center;
    background-size: 0.23rem auto;
}
.loginrecord-item p{
    color: #fff;
    font-size: 0.4rem;
    margin-bottom: 0.2rem;
}
.loginrecord-item i{
    display: block;
    position: absolute;
    top: 50%;
    right: 0.9rem;
    height: 0.6rem;
    margin-top: -0.3rem;
    font-size: 0.4rem;
    line-height: 0.6rem;
}
/*loginrecord end*/